data =
{	name: "Default-Default"
,	info: "Curv Graph Widget"
,	icon: "http://tinj.com/icon.jpeg"
,	link: "http://tinj.com/"
,	html: '<div>{{name}}<span><a href="{{link}}"><img src="{{icon}}"/></a>{{info}}</span></div>';
}

-----------------

database =
{
	mode: "default"
,	type: "default"
}

<div id="curv-graph-wid" class="terrain default">

<div id="curv-graph-body">

	<canvas >
	</canvas>

</div>

<div id="curv-graph-ctrl">
	
	<button >
	</button>
	
</div>

</div>


<style>
	
[id^="curv-graph-wid"] .terrain.default [id^="curv-graph-body"]

[id^="curv-graph-wid"] .terrain.default [id^="curv-graph-body"]

</style>
