<head>

<script>

Shapes =
{
	Cell: function (dimensions)
	{
		var
			cell = document.createElement("DIV")
		;
		
		var
			w,h,l
		;
		
		if (dimensions === dimensions / 1)
		{
			w =
			h =
			l = dimensions;
		}
		else
		{
			w = dimensions[0];
			h = dimensions[1];
			l = dimensions[2];
		}
		
		cell.className = "cell tag";
		cell.style.width  = w + "px";
		cell.style.height = h + "px";
		
		cell.appendChild(cell.sideA = document.createElement("DIV")).className="ent A";	
		cell.appendChild(cell.sideB = document.createElement("DIV")).className="ent B";
		cell.appendChild(cell.sideC = document.createElement("DIV")).className="ent C";
		cell.appendChild(cell.sideD = document.createElement("DIV")).className="ent D";
		cell.appendChild(cell.sideE = document.createElement("DIV")).className="ent E";
		cell.appendChild(cell.sideF = document.createElement("DIV")).className="ent F";
		
		cell.sideA.style.width  =
		cell.sideB.style.width  = w + "px";
		cell.sideA.style.height =
		cell.sideB.style.height = h + "px";
		
		cell.sideA.style.left =
		cell.sideB.style.left = "50%";
		
		cell.sideA.style.marginLeft =
		cell.sideB.style.marginLeft = -(w/2) +"px";
		
		cell.sideA.style.marginTop  =
		cell.sideB.style.marginTop  = -(h/2) +"px";
		
		cell.sideA.style.webkitTransform =
		(	"rotateY(0deg) translateZ("+(l/2)+"px)"
		);
		
		cell.sideB.style.webkitTransform =
		(	"rotateY(180deg) translateZ("+(l/2)+"px)"
		);
		
		cell.sideC.style.width  =
		cell.sideD.style.width  = w + "px";
		cell.sideC.style.height =
		cell.sideD.style.height = l + "px";
		
		cell.sideC.style.left =
		cell.sideD.style.left = "50%";
		
		cell.sideC.style.marginLeft =
		cell.sideD.style.marginLeft = -(w/2) +"px";
		
		cell.sideC.style.marginTop  =
		cell.sideD.style.marginTop  = -(l/2) +"px";
		
		cell.sideC.style.webkitTransform =
		(	"rotateX(+90deg) translateZ("+(h/2)+"px)"
		);
		
		cell.sideD.style.webkitTransform =
		(	"rotateX(-90deg) translateZ("+(h/2)+"px)"
		);
		
		
		cell.sideE.style.width  =
		cell.sideF.style.width  = h + "px";
		cell.sideE.style.height =
		cell.sideF.style.height = l + "px";
		
		cell.sideE.style.left =
		cell.sideF.style.left = "50%";
		
		cell.sideE.style.marginLeft =
		cell.sideF.style.marginLeft = -(h/2) +"px";
		
		cell.sideE.style.marginTop  =
		cell.sideF.style.marginTop  = -(l/2) +"px";
		
		cell.sideE.style.webkitTransform =
		(	"rotateZ(-90deg) rotateX(-90deg) translateZ("+(w/2)+"px)"
		);
		
		cell.sideF.style.webkitTransform =
		(	"rotateZ(+90deg) rotateX(-90deg) translateZ("+(w/2)+"px)"
		);



		cell.style.webkitTransform =
		(	"translateY("+(h/2)+"px) translateZ("+(l/2)+"px)"
		);
		
		return cell
	}
};


saved =
[
	{
		type: "/terrain/default"
	,	cfgs:
		{	
			cell:
			{
				volume: 25
			}
		}
	,	data:
		{
			
		}
	}

];


{
	type: 
	cfgs: this.cfgs =
	{
		
	}
,	data: this.data =
	{
		
	}
}


var
	terrain =
	{
		
		cfgs :
		{
			cell:
			{
				seconds: 1
			}
		}
		
	,	data :
		{
			query:
			{
				sample: 1000
			}
				
		,	reply:
			{
				elevation: 
				[	[3,0,0,0,0,0,0,0,5,4]
				,	[0,0,0,0,0,0,0,0,2,0]
				,	[0,0,1,0,0,3,0,0,0,0]
				,	[0,0,0,5,0,0,0,0,0,2]
				,	[0,5,0,0,9,1,0,0,0,1]
				]
			}
		}
		
	,	init : function (settings)
		{
			
			var
				cfgs = terrain.cfgs
			,	data = terrain.data
			;
			
			var
				elevation = terrain.data.reply.elevation
			;
			
			var
				video =
				{	
					seconds: 120
				}
			,	graph = document.getElementById('terrain-graph')
			;
			
			var
				ratio =
				graph.clientWidth	//maxLength	
				/	(	data.query.sample
					*	cfgs.cell.volume = 
						(	graph.clientWidth / (video.seconds / cfgs.cell.seconds)
						)
					)
			;
			
			var
				volume = cfgs.cell.volume
			,	area = [elevation[0].length, elevation.length]
			,	cell
			;
			
			var
				x,y,z
			;
			
			for
			(	y = area[1]
			;	y--
			;
			)	for 
				(	x = area[0]
				;	x--
				;
				)	{
						if (! (z = elevation[y][x]) )
							continue
						;
					
						graph.appendChild
						( 	cell = new Shapes.Cell
							(	[	volume
								,	volume
								,	volume * ratio * z
								]
							)
						);
						
						cell.style.left = (volume * x) + "px";
						cell.style.top  = (volume * y) + "px";
					}
				;
			;
			
			graph.style.top = "50%";
			
			graph.style.webkitTransform =
			(	"rotateZ(0deg) rotateX(45deg)"
			);
			
			
		}
	}
;

onload = terrain.init

</script>
<link href="../../../style/3d/space.css" type='text/css' rel='stylesheet' />
<style>
#terrain-graph
{
	width: 250px;
	height: 125px;
	border: 2px solid green;
	
}
	
.ent.A
{
	background: rgba(225,025,125, 0.4)
}
	
.ent.B, 
.ent.C, 
.ent.D, 
.ent.F
{
	background: rgba(043,255,125, 0.4)
}

.ent.E
{
	background: rgba(043,155,125, 0.4)
}
</style>

</head>

<div class="space">
	
	
<div class="tag" id="terrain-graph">
	
	
	
</div>


</div>
