.ent.XS
{
	height : 90px;	top : 50%;	margin-top : -50px;
	width  : 90px;	left: 50%;	margin-left: -50px;

	border-width	: 5px;	border-style	: solid;
}

.ent.S
{
	height : 90px;	top : 50%;	margin-top : -50px;
	width  : 140px;	left: 50%;	margin-left: -75px;

	border-width	: 5px;	border-style	: solid;
}

.ent.M
{
	height : 90px;	top : 50%;	margin-top : -50px;
	width  : 190px;	left: 50%;	margin-left: -100px;

	border-width	: 5px;	border-style	: solid;
}

.ent.XM
{
	height : 140px;	top : 50%;	margin-top : -75px;
	width  : 240px;	left: 50%;	margin-left: -125px;
	
	border-width	: 5px;	border-style	: solid;
}

.ent.L
{
	height : 190px;	top : 50%;	margin-top : -100px;
	width  : 290px;	left: 50%;	margin-left: -150px;
	
	border-width	: 5px;	border-style	: solid;
}

.ent.XL
{
	height : 240px;	top : 50%;	margin-top : -125px;
	width  : 340px;	left: 50%;	margin-left: -175px;
	
	border-width	: 5px;	border-style	: solid;
}

.ent.XXL
{
	height : 290px;	top : 50%;	margin-top : -150px;
	width  : 390px;	left: 50%;	margin-left: -200px;
	
	border-width	: 5px;	border-style	: solid;
}




.ent.x.dn
{
	-webkit-transform-origin: 0px 100% 0px;
	   -moz-transform-origin: 0px 100% 0px;
	    -ms-transform-origin: 0px 100% 0px;
	     -o-transform-origin: 0px 100% 0px;
	        transform-origin: 0px 100% 0px;

		-webkit-transform: rotateX(-90deg);
		   -moz-transform: rotateX(-90deg);
		    -ms-transform: rotateX(-90deg);
		     -o-transform: rotateX(-90deg);
		        transform: rotateX(-90deg);
}

.ent.x
{
	-webkit-transform-origin: 50% 50% 0px;
	   -moz-transform-origin: 50% 50% 0px;
	    -ms-transform-origin: 50% 50% 0px;
	     -o-transform-origin: 50% 50% 0px;
	        transform-origin: 50% 50% 0px;

		-webkit-transform: rotateX(+90deg);
		   -moz-transform: rotateX(+90deg);
		    -ms-transform: rotateX(+90deg);
		     -o-transform: rotateX(+90deg);
		        transform: rotateX(+90deg);
}

.ent.x.up
{
	-webkit-transform-origin: 0px 0px 0px;
	   -moz-transform-origin: 0px 0px 0px;
	    -ms-transform-origin: 0px 0px 0px;
	     -o-transform-origin: 0px 0px 0px;
	        transform-origin: 0px 0px 0px;
	
		-webkit-transform: rotateX(+90deg);
		   -moz-transform: rotateX(+90deg);
		    -ms-transform: rotateX(+90deg);
		     -o-transform: rotateX(+90deg);
		        transform: rotateX(+90deg);
}
