		body
		{
			background	:	url(../image/collage.png) top center;
			color		:	#aabbcc;
		}
		#imgs
		{
			position	:	absolute;
			top		:	0px;
			left		:	50%;
			margin-left	:	-512px;
			width		:	1024px;
			height		:	100%;		
		}
		img
		{
			position	:	absolute;
			z-index		:	0090;
			opacity		:	0.0;
			filter		:	alpha(opacity=00);
		}
		img[id='0.png']
		{
			z-index		:	001;
		}
		#links
		{	position	:	absolute;
			z-index		:	0091;
			top			:	0100px;
			left		:	0100px;
		}
		.links a:link, .links a:hover, .links a:visited
		{
			color		:	#ffffff;
			cursor		:	crosshair;
			text-decoration	:	none;
			font-weight	:	bold;
			width		:	100%;
			height		:	100%;
			
		}
		.links
		{
			background	:	url(../image/background/color25.png);
			cursor		:	url(../image/cursor/links.gif), url(../image/cursor/links.gif), crosshair;
			position	:	relative;
			z-index		:	0090;
			left		:	000px;
			width		:	100px;
			height		:	020px;
			padding		:	020px;
			text-align	:	center;
		}
		.links:hover .links, .links:hover .links:hover .links
		{	display		:	block;
			position	:	relative;
			left		:	120px;
			top			:	-40px;
		}
		.links .links, .links:hover .links .links
		{	display		:	none;		
		}
		.links:hover
		{
			background	:	#fff;
			box-shadow	:	#fff 0px 0px 10px 0px; -webkit-box-shadow : #fff 0px 0px 10px 0px; -moz-box-shadow : #fff 0px 0px 10px 0px;
		}
		.links.menu:hover
		{
			background	:	url(../image/background/links.over.png);
		}
		.links:hover>a
		{
			color		:	#aabbcc;
		}
		.links[id='Title/Name']
		{
			background	:	url(../image/background/title.png);
		}
		.links[id='Title/Name']:hover
		{
			background	:	url(../image/background/title.over.png);
		}
		.links[id='Title/Name'] a:link, .links[id='Title/Name'] a:hover, .links[id='Title/Name'] a:visited
		{
			color		:	#eeeeee;
		}
		#info
		{
			position	:	absolute;
			z-index		:	0091;
			bottom		:	0px;
			left		:	50%;
			margin-left	:	-512px;
			width		:	1024px;
			height		:	25px;
			text-align	:	center;
		}
		.info
		{
			display		:	inline;
			padding		:	20px;
			border		:	#eeeeee 1px solid;
		}
		.info:hover
		{
			background	:	url(../image/background/info.over.png);
		}
		.info a:link, .info a:hover, .info a:visited
		{
			color		:	#eeeeee;
		}
